#input your phone number or apple_id email
IMESSAGE_RECIPIENT =

#Input your imessage chat_id for imessages
IMESSAGE_CHAT_ID = 

#Input your desired id for CLI
CLI_CONVERSATION_ID = 

#Set the model you want
MODEL_NAME = 